/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    TYPOGRAPHY
------------------*/
body {
    height: 100vh;
    font-family: "Edu TAS Beginner", serif;
    background-image: url("../img/cork.png");
}

/*----------------
    LAYOUT
------------------*/
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 999px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

/*----------------
    HEADER
------------------*/
header{
    background-image: url("../img/wall.png");
}

header h1{
    font-size: 70px;
    padding: 16px;
    text-align: center;
}
/*----------------
    MAIN
------------------*/
.row .col{
    /*width: calc(100% /3);*/
    margin: 20px 0;
    text-align: center;
    background-color: white;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

p{
    font-size: 16px;
    color: grey;
}

.photo{
    margin: 20px 0;
    width: 220px;
    height: 220px;
}

.text-card{
    background-color: white;
    padding: 0 20px;
    padding-bottom: 20px;
    max-width: 250px;
    text-align: left;
}

.pin{
    position: absolute;
    left: 110px;
}

/*----------------
    MAIN
------------------*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9;
}

.hidden{
    display: none;
}

.overlay-content {
    text-align: center;
    position: relative;
}

.overlay-image {
    margin-top: 30px;
}

.close-btn {
    padding: 10px 20px;
    background-color: #fff;
    font-size: 22px;
    cursor: pointer;
    margin-top: 20px;
}

