/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    TYPOGRAPHY
------------------*/
body {
    height: 100vh;
    font-family: "Edu TAS Beginner", serif;
}

/*----------------
    LAYOUT
------------------*/
.container {
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

/*----------------
    HEADER
------------------*/
header{
    background-image: url("../img/wall.png");
}

header h1{
    font-size: 70px;
    padding: 16px;
    text-align: center;
}
/*----------------
    MAIN
------------------*/
main{
    background-image: url("../img/cork.png");
    min-height: 1000px;
}

.row .col{
    /*width: calc(100% /3);*/
    margin: 20px 0;
    text-align: center;
    justify-content: space-around;
    background-color: white;
    position: relative;
}

p{
    font-size: 16px;
    color: grey;
}

.photo{
    margin: 20px 0;
    width: 220px;
    height: 220px;
}

.text-card{
    background-color: white;
    padding: 0 20px;
    padding-bottom: 20px;
    max-width: 250px;
    text-align: left;
}

.pin{
    position: absolute;
    left: 100px;
}